.column{
    background-color: #FFFFFF22;
    border-radius: 20px;
    padding: 15px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.column header{
    display: flex;
}
.column h2{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4em;
    margin: 0;
}
.column header .title{
    flex:1;
}
.edit, .done{
    font-size: 1em;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 24px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    margin: 2px 5px;
}
.edit{
    transform: rotate(180deg);
}
.edit:hover, .done:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.add{
    text-align: center;
    font-size: 1.6em;
    line-height: 20px;
    cursor: pointer!important;
}
.add:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.addarea{
    display: flex;
}
.column input{
    height: 30px;
    font-size: 18px;
    width: calc(100% - 10px);
    flex: 1;
    background-color: #FFFFFF11;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px;
}
.column input[type="color"] {
    max-width: 30px;
    padding: 4px;
    border: none;
    border-radius: 0;
}
.addarea div{
    width: 25px;
    height: 25px;
    font-size: 24px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
}
.addarea div:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.taskList{
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto;
}

@media screen and (max-width: 725px){
    .column{
        border-radius: 15px;
        padding: 5px;
        min-width: 270px;
        gap: 7px;
    }
    .column h2{
        font-size: 1em;
    }

    .taskList{
        gap: 5px;
        overflow: auto;
    }

}
