.cards{
    border-radius: 50px;
    padding: 25px;
    margin: 25vh auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;

    background-color: #010a13e3;
}
.cards>div{
    padding: 25px;
    border-radius: 25px;
    color: #FFF;
    text-align: center;
}
.svg{
    margin-bottom: 20px ;
    width: 200px;
}
.svg>svg{
    fill: white;
}
.cards>div:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
.cards a{
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 1000px){
    .cards {
        margin: 25px auto;
    }
    .svg{
        width: 100px;
    }
}

@media screen and (max-width: 600px){
    .cards {
        max-width: 250px;
        margin: 20px auto;
        padding: 25px;
        flex-direction: column;
        border-radius: 30px;
    }
    .svg{
        width: 160px;
    }
}
@media screen and (max-width: 400px) {
    .cards {
        max-width: 270px;
        margin: 15px auto;
        padding: 20px;
        flex-direction: column;
    }

    .svg {
        margin: 10px auto;
        width: 80px;
    }
}
